.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  form {
    background-color: $bg-components;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 600px;
    box-shadow: 10px 5px 5px rgb(14, 14, 14);

    @media screen and (min-width:280px) and (max-width:700px) {
      width: 95%;
    }

    header {
      color: $letter-color;
    }
  }
}

.feed-container {
  form {
    display: flex;
    height: 28vh;
    justify-content: center;
    align-items: center;
    
    div {
      display: flex;
      background-color: $bg-components;
      width: 70%;
      border-radius: 15px;
      justify-content: center;
      height: 200px;
      align-items: center;
    }

  }
}

.comments-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;

  .comments-info-container {
    background-color: grey;
    margin-top: 20px;
    height: 150px;
    width: 65%;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
}